<h1 class="first-header">Gentoo Infrastructure Status</h1>

<p>This data is aggregated from our automated service monitoring system as well as the outage and maintenance notices posted below.</p>

<h2>Service Availability Overview</h2>

<div class="row">
  <div class="col-lg-4">
    <h3>Community Services</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= service_info 'www' %>
        gentoo.org Website
      </li>
      <li class="list-group-item">
        <%= service_info 'forums' %>
        Forums
      </li>
      <li class="list-group-item">
        <%= service_info 'wiki' %>
        Wiki
      </li>
      <li class="list-group-item">
        <%= service_info 'planet' %>
        Planet Gentoo
      </li>
      <li class="list-group-item">
        <%= service_info 'pgo' %>
        Package Database
      </li>
      <li class="list-group-item">
        <%= service_info 'lists' %>
        Mailing Lists
      </li>
      <li class="list-group-item">
        <%= service_info 'archives' %>
        Mailing List Archives
      </li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h3>Development Services</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= service_info 'cvs' %>
        CVS Server
      </li>
      <li class="list-group-item">
        <%= service_info 'bugzilla' %>
        Bugzilla
      </li>
      <li class="list-group-item">
        <%= service_info 'rsync' %>
        Master <tt>rsync</tt> Mirror
      </li>
      <li class="list-group-item">
        <%= service_info 'devmanual' %>
        Developer Manual
      </li>
      <li class="list-group-item">
        <%= service_info 'overlays' %>
        Overlays
      </li>
      <li class="list-group-item">
        <%= service_info 'sources' %>
        Source Code Browser
      </li>
    </ul>
  </div>
  <div class="col-lg-4">
    <h3>Developer Resources</h3>
    <ul class="list-group">
      <li class="list-group-item">
        <%= service_info 'dgo_ssh' %>
        <tt>dev.gentoo.org</tt> Shell Access
      </li>
      <li class="list-group-item">
        <%= service_info 'dgo_http' %>
        <tt>dev.gentoo.org</tt> Web Hosting
      </li>
      <li class="list-group-item">
        <%= service_info 'dgo_smtp' %>
        In-/Outbound Email (SMTP)
      </li>
      <li class="list-group-item">
        <%= service_info 'dgo_mbox' %>
        Mailbox Access (POP/IMAP)
      </li>
    </ul>
  </div>

</div>


<h2>Maintenance and Outage Notices</h2>

<%= partial :notice, :collection => NoticeStore.instance.notices %>